.module {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.module .mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .6;
	z-index: 10;
}

.module .conter {
	width: 80%;
	height: 18rem;
	background: #fff;
	position: relative;
	z-index: 11;
	left: -80%;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.module.isWKwebView .conter {
	left: 0;
}

.module.isWKwebView .conter.hide {
	left: -80%;
}

.module .conter .title {
	height: 1rem;
	border-left: .1rem solid #F25943;
	line-height: 1rem;
	background: #ECECEE;
	text-align: left;
	padding-left: .2rem;
	font-size: .4rem;
	color: #545456;
}
#cartScroll{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.module .conter .itemLi {
	height: 1.4rem;
	line-height: 1.4rem;
	padding: 0 .2rem;
	background-color: #f1f1f1;
}

.module .conter .goodName {
	width: 40%;
	text-align: left;
	font-size: .45rem;
}
.module .conter .moneyBox{
	width: 20%;
	height: 1.4rem;
	text-align: center;
	font-size: .45rem;
	color: #F25943;
}
.module .conter .subs {
	font-size: .7em;
}

.module .conter .buttonBox{
	width: 40%;
	height: 1.4rem;
	position: relative;
}

.conter .itemLi .addBtn,
.conter .itemLi .remoBtn {
	position: absolute;
	width: .6rem;
	height: .6rem;
	bottom: .4rem;
	right: .3rem;
	border-radius: 1rem;
	background: #F25943;
	border: 0;
	-webkit-transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
	-mos-transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.conter .itemLi .remoBtn {
	right: 1.9rem;
}

.conter .itemLi .remoBtn:before {
	width: .3rem;
	height: .05rem;
	content: '';
	display: inline-block;
	border-radius: .2rem;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -.025rem -.15rem;
}

.conter .itemLi .addBtn:after {
	width: .05rem;
	height: .3rem;
	content: '';
	display: inline-block;
	top: 50%;
	left: 50%;
	margin: -.15rem -.025rem;
	border-radius: .2rem;
	background: #fff;
	position: absolute;
}

.conter .itemLi .addBtn:before {
	width: .3rem;
	height: .05rem;
	content: '';
	display: inline-block;
	border-radius: .2rem;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -.025rem -.15rem;
}

.conter .itemLi .gerNumb {
	position: absolute;
	bottom: .4rem;
	right: .9rem;
	width: 1rem;
	height: .6rem;
	line-height: .6rem;
	font-size: .45rem;
	z-index: 9;
	opacity: 1;
	color: #F25943;
	overflow: hidden;
}